.dropscroll {
    max-height: 10em;
    overflow: auto;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  text-align: center;
  padding: 100px;
  background-color: #ff8757;
  color: rgb(192, 57, 57);
}