body{
  font-family: 'Mulish', sans-serif;
}
.dropscroll {
    max-height: 10em;
    overflow: auto;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  text-align: center;
  padding: 100px;
  background-color: #e2f8f3;
  background-image: linear-gradient(#e2f8f3, #ff9970);
}